<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="initGoogleAuth()">Initialize google auth</ion-button>

  Google auth initialized ?: {{ googleAuthInitalized ? "true": "false"}}

  <ion-button (click)="loginGoogle()">Login Google</ion-button>
</ion-content>
